body{
    margin: 0px;
    background-image: url(tamanna-rumee-cvq_8XHp2rM-unsplash.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50%;
    background-position: 100;
    background-size: cover;
}

.container{
    width: 90%;
    margin: 0 auto;

}
nav{
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top:  25px;
    position: relative;
    
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    
    
}
nav a:hover{
     color: black;
    

}
nav a::before{
    content: "";
    display: block;
    height: 5px;
    background-color: rgb(252, 8, 0);
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}
 nav a:hover::before{
    width: 100%;
 }
 h2{
    color: black;
    font-size: 50px;
    align-items: center;
    margin: 0 ;
    padding: 3px;
    


}
p{
    text-decoration-color: black;
    font-size: 40px;
    text-align:center;  
    margin-top: 40%;
    font-style: italic;

}
